html{
    scroll-behavior: smooth;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
body{
    max-height: 100%;
    width: 1600px;
    margin: auto;
    background-color: #FFFFFF;
    white-space: nowrap;
}
header{
    position: absolute;
    display: flex;
    align-items: center;
	width: 1600px;
    height: 80px;
	background: rgb(0, 0, 0);
    color: #FFFFFF;
    padding: 0 220px;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.active{
    color: #F9804B;
}
.active:hover{
    cursor: default !important;
    color: #F9804B !important;
    box-shadow: 0px 0px 4px 2px #722f1300 !important;
    border-radius: 0 !important;
}
.logo{
    width: 82px;
    height: 52px;
    margin-top: 10px;
}
.logo:hover, .logo_footer:hover{
    cursor: pointer;
}
.logo_container{
    margin-right: 5px;
}
.menu{
    display: flex;
    margin-left: 0;
    padding-left: 0;
}
.menu > li > a:hover, .pages> li > a:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 2px #f97f4b82;
    border-radius: 5%;
}
li{
    list-style-type: none;
    padding-left: 58px;
}
.by{
    margin-left: 440px;
}
.by > h1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}
.by:hover{
   cursor: pointer;
   color: #F9804B;
}
.main_banner{
    background:url(../img/Panda.jpg);
    height: 780px;
}
.banner_circle{
    border-radius: 50%;
    z-index: 2;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
}
.main_banner_container{
    padding-top: 92px;
    padding-left: 807px;
    width: 1600px;
}
.words{
    position: absolute;
    color: #FFFFFF;
    width: 500px;
    height: 400px;
    z-index: 4;
    white-space: pre-line;
    margin-top: 56px;
    margin-left: 75px;
}
.words > h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.words > h2 >span{
    color: #FFEE2E;
}
.wacth_btn{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    margin-top: 69px;
    margin-left: 176px;
    color:#FFFFFF;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
.wacth_btn:hover, .btn_choose:hover, .btn_arrow_left:hover,
.btn_arrow_right:hover, .feed_btn:hover, .leave_btn:hover,
.donate_btn:hover, .subscribe_form input[type=submit]:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s ease;
}
.backstage{
    width: 1600px;
}
.backstage_conteiner{
    width: 1161px;
    height: 403px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
}
.backstage_img{
    background: url(../img/bamboo-cap.jpg);
    width: 609px;
    height: 403px;
}
.backstage_text{
    width: 465px;
    display: flex;
    flex-direction: column;
    margin-left:87px ;
}
.backstage_text > h2{
    width: 465px;
    height: 116px;
    font-size: 48px;
    line-height: 120%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p_1, .p_2, .backstage_text > h4, .backstage_text > h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.backstage_text > .p_1{
    width: 465px;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 130%;
    font-size: 16px;
}
.backstage_text > h4{
    width: 465px;
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
    margin-bottom: 0px;
}
.backstage_text > .p_2{
    width: 465px;
    height: 105px;
    word-wrap: break-word;
    margin-top: 34px;
    line-height: 140%;
    font-size: 16px;
}
.backstage_flower{
    position: absolute;
    background: url(../img/flowerfoto1.png);
    z-index: 1;
    width: 209px;
    height: 605px;
    margin-left: 1395px;
    margin-top: -130px;
}
.arrow_L{
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    border: none;
}
.arrow_R{
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    border: none;
}
.pets{
    width: 1600px;

    margin-top: 180px;
}
.cards_pets{
    width: 1159px;
    height: 872px;
}
.pest_info{
    display: flex;
    width: 1322px;
    flex-direction: row;
    margin: auto;
}
.btn_arrow_left{
    height: 872px;
    width: 62px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.btn_arrow_right{
    height: 872px;
    width: 62px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.cards_pets{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card{
    width: 368px;
    height: 426px;
    border-radius: 5px;
    border: 1px solid rgba(254, 144, 19, 1);
    display: flex;
    flex-direction: column;
}
.card_row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 426px;
}
.banan{
    margin-left: 11px;
}
.text_card{
    width: 294px;
    height: 40px;
}
.card_content{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 16px;
}
.text_card>h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: auto;
    text-transform: uppercase;

    color: #000000;
}
.text_card > p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    margin: auto;
    margin-top: -3px;
}
.btn_choose{
    width: 298px;
    height: 54px;
    top: 2455px;
    background: #FE9013;
    border-radius: 25px;
    margin-top: 80px;
    margin-left: 651px;
    border: none;
    color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}
.strelitzia{
    background: url(../img/strelitzia.jpg);
    width: 368px;
    height: 275px;
    float: right;
    margin-top: -42px;
}
.palm{
    background: url(../img/palmfoto.jpg);
    width: 270px;
    height: 460px;
    margin-top: -360px;
}
.pick_friend_container{
    height: 1004px;
    width: 1600px;
    display: flex;
    justify-content: center;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}
.container_bg{
    height: 835px;
    margin-top: 69px;
    width:1160px;
    left: 220px;
    right: 220px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.content_friend{
    height: 364px;
}
.more_text{
    margin-left: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    width: 863px;
    margin-top: 10px;
}
.more_text > span{
    border-bottom: 2px solid #FE9013;
}
.more_text > span:hover{
    cursor: pointer;
}
.pick_friend{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-top: 41px;
    margin-bottom: 0px;
}
.content_friend > h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-left: 99px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.p_pick{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-left: 99px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.how_it_works{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
.area{
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pay{
    width: 764px;
    margin-top: 54px;
    margin-left: 198px;
}
.arowf{
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.arows{
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.text_pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.pay_icon_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    margin: auto;
    color: #333B41;
}
.pay_icon_text_first{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    margin: auto;
    color: #333B41;
}
.mini_text{
    width: 168px;
    margin-left: 130px;
}
.mini_text_1{
    margin-right: 70px;
}
.feed_btn{
    width: 298px;
    height: 54px;
    top: 2455px;
    background: #FE9013;
    border-radius: 25px;
    margin-top: 60px;
    margin-left: 431px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.testimonials{
    background: #ffffff;
    width: 1600px;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.testimonials_container{
    height: 575px;
    width:1160px;
    margin-top: 140px;
}
.testimonials_h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin: auto;
    text-align: center;

    color: #333B41;
}
.card_comments{
    background: #F1F3F2;
    border-radius: 20px;
    width: 266px;
    height: 391px;
    margin-left: 1.5px;
    margin-top: 0.9px;
}
.comments{
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardgradient{
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    width: 269px;
    height: 393px;
    border-radius: 20px;
}
.people{
    display: flex;
    flex-direction: row;
}
.city{
    display: flex;
    flex-direction: row;
    height: 18px;
}
.people > svg{
    margin-top: 15px;
    margin-left: 15px;
}
.people_text{
    margin-left: 10px;
    margin-top: 15px;
}
.city > p{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    
    color: #BDBDBD;
}
.name_people{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.comment{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    color: #767474;
    margin-top: 11px;
    margin-left: 16px;
}
.dote{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    margin: auto;
    color: #BDBDBD;
    margin-left: 6px;
    margin-right: 5px;
}
.people > img{
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
}
.scroll{
    width: 599px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
    border: 1px solid ;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid rgba(243, 169, 248, 0.66);
}
.leave_btn{
    width: 298px;
    height: 54px;
    top: 2455px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    margin-top: 29px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer{
    height: 443px;
    width: 1600px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.subscribe{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.subscribe_form{
    height: 124px;
    width: 367px;
    margin-top: 42px;
}
.subscribe_form > p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}
.logo_footer{
    margin-top: 41px;
}
.email_form{
    border-radius: 2px;
    border: 1px solid #F9804B;
    width: 228px;
    height: 42px;
    background: rgba(0, 0, 0, 0);
    color: #BDBDBD;
    margin-top: 14px;

    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 10px;
}
.submit_form{
    background: #F1F3F2;
    color: #000000;
    border: 1px solid #333B41;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    margin-left: 6px;

    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.donate_btn{
    width: 298px;
    height: 55px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 220px;
    margin-top: -4px;

    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}
.links{
    width: 1160px;
    display: flex;
    margin: auto;
    margin-top: 35px;
    align-items: flex-end;
    justify-content: space-between;
}
.social{
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.social > li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0;
}
.social > li:hover{
    cursor: pointer;
}
.social > li:hover >a{
    color: #F9804B;
}
.social_ell{
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages{
    width: 362px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-left: 115px;

    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.pages > li{
    margin: 0;
    padding: 0;
}
.rs > p{
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;

    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 10px;
}
.activ_scroll{
    position: absolute;
    z-index: 1;
    width: 115.19px;
height: 6px;
background: #FE9013;
border-radius: 5px;
}
.leav{
    margin-top: -360px;
    background: url(left.png);
    float: right;
}
footer{
    margin-top: -82px;
    position: absolute;
    z-index: 1;
}
.logo_footer{
    width: 82px;
    height: 52px;
    margin-top: 31px;
}
.card > img{
    transition: 1s; 
}
.card > img:hover{
    transform: scale(1.06);
    border: 1px solid #F9804B;
}
